{% load static %}
<!DOCTYPE html>
<html lang="ko">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
      integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <link
      rel="icon"
      href="{% static 'images/favicon.ico' %}"
      type="image/x-icon"
      sizes="16x16"
    />

    <title>일상:한컷</title>
  </head>

  <body>
    <header class="sticky-top">
      <nav class="navbar navbar-light bg-white">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">
            <span class="logo-text jalnan">일상:한컷</span>
          </a>

          {% if user.is_authenticated %}

          <form
            action="/"
            class="d-flex search-box w-50"
            method="POST"
            role="search"
          >
            {% csrf_token %}
            <input
              class="form-control me-2"
              type="search"
              name="search"
              placeholder="검색"
              aria-label="Search"
            />
          </form>
          <form class="d-flex justify-content-center">
            <a href="/">
              <button
                class="small-text btn btn-sm btn-outline-secondary notosanskr mx-2"
                type="button"
                data-bs-toggle="modal"
                data-bs-target="#loginModal"
              >
                내 기록
              </button>
            </a>
            <a href="/accounts/logout">
              <button
                class="small-text btn btn-sm btn-outline-secondary notosanskr mx-2"
                type="button"
                data-bs-toggle="modal"
                data-bs-target="#loginModal"
              >
                로그아웃
              </button>
            </a>
          </form>
          {% else %}
          <form class="d-flex">
            <a href="/accounts/login">
              <button
                class="small-text btn btn-sm btn-outline-secondary notosanskr"
                type="button"
                data-bs-toggle="modal"
                data-bs-target="#loginModal"
              >
                로그인
              </button>
            </a>
          </form>
          {% endif %}
        </div>
      </nav>
    </header>

    <main>
      <div class="d-flex justify-content-center align-items-center min-vh-75">
        <div class="fs-1">😭 존재하지 않는 닉네임입니다.</div>
      </div>
    </main>

    <footer class="pt-5 pb-5 container-fluid bg-white">
      <div class="d-flex flex-row justify-content-evenly small-text notosanskr">
        <div class="fw-bold pb-2 fs-6 jalnan">일상:한컷</div>
        <div class="pb-1">
          <a class="text-muted" href="https://github.com/leey00nsu">이윤수</a>
        </div>
        <div class="pb-1">
          <a class="text-muted" href="https://github.com/GoraniPie">김정민</a>
        </div>
        <div class="pb-1">
          <a class="text-muted" href="https://github.com/suminhand">손수민</a>
        </div>
        <div class="pb-1">
          <a class="text-muted" href="https://github.com/LeeJongTae">이종태</a>
        </div>
      </div>
    </footer>
    <script src="{% static 'js/main.js' %}" type="text/javascript"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
