{% extends "main_view/main.html" %} {% load static %}
<link rel="stylesheet" href="{% static 'css/main.css' %}" />
<!--  -->
{% block content %}
<div class="card border-0 pb-5">
  <img
    src="{%static 'images/main-background.png' %}"
    class="card-img-top img-fluid"
    alt="..."
  />
  <div class="d-flex card-img-overlay justify-content-center text-black">
    <div
      class="d-flex flex-column justify-content-start align-items-center pt-5"
    >
      <span class="sub-text notosanskr">일상을 기억하다</span>
      <span class="main-text jalnan">일상:한컷</span>
      <a href="/accounts/login">
        <button
          type="button"
          class="small-text btn btn-primary btn-lg notosanskr"
        >
          시작하기
        </button>
      </a>
    </div>
  </div>
</div>
{% endblock %}
