{% extends "main_view/main.html" %} {% load static %}
<link rel="stylesheet" href="{% static 'css/main.css' %}" />
<!--  -->
{% block content %}
<div class="card border-0">
  <img
    src="{%static 'images/main-background.png' %}"
    class="card-img-top img-fluid"
    alt="..."
  />
  <div class="d-flex card-img-overlay justify-content-center text-black">
    <div
      class="d-flex flex-column justify-content-start align-items-center pt-5"
    >
      <div class="sub-text notosanskr">일상을 기억하다</div>
      <div class="main-text jalnan">일상:한컷</div>
      <a href="/accounts/login" role="button" class="btn btn-primary btn-lg">
        시작하기
      </a>
    </div>
  </div>
</div>
{% endblock %}
