{% extends "main_view/main.html" %}
<!--  -->
{% load static %} {% load bootstrap5 %}
<!--  -->
{% block head %}

<!-- <link rel="stylesheet" href="{% static 'css/login.css' %}" /> -->
{% endblock%}
<!--  -->
{% block content %}
<div class="pt-5 pb-5">
  <div class="d-flex justify-content-center">
    <div class="w-25 flex-column">
      <div class="form">
        <form action="" method="POST" enctype="multipart/form-data">
          {% csrf_token %} {% bootstrap_form form %}
          <button
            value="signup"
            type="submit"
            class="btn btn-primary w-100 mb-3"
          >
            가입하기
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
<style>
  .helptext {
    visibility: hidden;
  }
</style>
{% endblock %}
