{% extends "main_view/main.html" %}
<!--  -->
{% load static %} {% load bootstrap5 %}
<!--  -->
{% block head %}

<!-- <link rel="stylesheet" href="{% static 'css/login.css' %}" /> -->
{% endblock%}
<!--  -->
{% block content %}
<div class="d-flex justify-content-center align-items-center min-vh-75">
  <div class="form-login form flex-grow-1">
    <form
      class="needs-validation"
      action=""
      method="POST"
      enctype="multipart/form-data"
      novalidate
    >
      {% csrf_token %} {% bootstrap_form form %}
      <button value="signup" type="submit" class="btn btn-primary w-100 mb-3">
        가입하기
      </button>
    </form>
  </div>
</div>
<style>
  .helptext {
    visibility: hidden;
  }
</style>
{% endblock %}
