@font-face {
  font-family: "yg-jalnan";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr {
  font-family: "Noto Sans KR", sans-serif;
}

.jalnan {
  font-family: "yg-jalnan";
}

.intro-items {
  padding-top: 10rem;
}

.main-text {
  font-size: 50px;
}

.sub-text {
  font-size: 20px;
}

.small-text {
  font-size: 16px;
}

.card-img-top {
  width: auto;
  height: 100vh;
  object-fit: cover;
}

footer {
  border-top: 1px solid #e0e0e0;
}
