{% extends "main_view/main.html" %}
<!--  -->
{% load static %}
<link rel="stylesheet" href="{% static 'css/main.css' %}" />
<!--  -->
{% block head %}
<!--  -->
{% endblock%}
<!--  -->
{% block content %}
<div class="pt-5 pb-5 notosanskr w-100">
  <div class="d-flex flex-column">
    <form method="post" action={% url "update_post:update_post" %} enctype="multipart/form">
      {% csrf_token %}
    <!-- 사진 업로드 -->
    
    <label for="imgfile">
      <div
        class="d-flex flex-column justify-content-center align-items-center hover-dark">
        <img src={% static 'images/upload.png' %} />
        <div class="fs-5 text-primary">여기를 눌러 업로드</div>
      </div>
    </label>
    <input
      class="invisible"
      type="file"
      id="imgfile"
      name="imgfile"
      onchange="loadFile(this)"
    />
    <div
      class="image-show d-flex flex-row justify-content-center pb-5"
      id="image-show"
    ></div>

    <!-- 태그,시간 -->

    <div>
      <div style="display:none"><input name="id" value="{{OpenPost.pk}}"></div>
      <div class="row justify-content-start align-items-center">
        {% if OpenPost.tag != None %}
        <div class="fs-5 col-auto">태그 :</div>
        <div class="btn-tag fs-5 col-auto">{{OpenPost.tag}}</div>
        {% endif %}
      </div>
    </div>
    <div>
      <div class="row justify-content-start align-items-center">
        <div class="fs-5 col-auto">작성일 :</div>
        <div class="fs-5 col-auto">{{OpenPost.date}}</div>
      </div>
    </div>
    <div>
      <div class="row justify-content-start align-items-center">
        <div class="fs-5 col-auto">수정일 :</div>
        <div class="fs-5 col-auto">{{OpenPost.last_modified}}</div>
      </div>
    </div>

    <!-- 수평가로선 -->
    <hr class="mt-5 mb-5" />

    <!-- 내용 -->
    <div>
      <div class="row justify-content-start align-items-center">
        <div class="fs-5 col-auto"><input name="title" value="{{OpenPost.title}}"></h1><br></div>
      </div>
    </div>
    <div>
      <div class="row justify-content-start align-items-center">
        <div class="fs-5 col-auto">
          <textarea
          wrap="hard"
          rows="10"
          style="resize: none"
          class="w-100"
          name="body"
          column="auto"
          placeholder="내용">
            {{OpenPost.content}}
          </textarea>
        </div>
      </div>
    </div>
    <button type="submit">수정하기</button>
  </form>

  </div>
</div>
{% endblock %}
