{% extends "main_view/main.html" %}
<!--  -->
{% load static %}
<link rel="stylesheet" href="{% static 'css/main.css' %}" />
<!--  -->
{% block head %}
<!--  -->
{% endblock%}
<!--  -->
{% block content %}
<div class="pt-5 pb-5">
  <div class="d-flex justify-content-start ms-5">
    <div class="d-flex flex-column ms-5">
      <div class="sub-text notosanskr text-bold">📝 내 기록</div>
      <div class="sub-text notosanskr text-regular"
        >오늘 하루를 기록해보세요</div>
      <div class="pt-3">
        <button class="btn-tag fs-5 notosanskr me-4">전체</button>
        <button class="btn-tag fs-5 notosanskr me-4">일기</button>
        <button class="btn-tag fs-5 notosanskr me-4">메모</button>
      </div>
      <div class="pt-5 ms-5 d-flex">
          <div class="content-box drop-shadow me-4 d-flex justify-content-center align-items-center">
            <button class="btn-add drop-shadow d-flex flex-column justify-content-center align-items-center main-text text-secondary"
            data-bs-toggle="modal"
            data-bs-target="#PostModal">
            ＋
            </button>
          </div>
          <div class="content-box drop-shadow me-4"></div>
          <div class="content-box drop-shadow me-4"></div>
          <div class="content-box drop-shadow me-4"></div>
          <div class="content-box drop-shadow me-4"></div>
          <div class="content-box drop-shadow me-4"></div>
        </div>
        <div class="pt-5 ms-5 d-flex">
          <div class="content-box drop-shadow me-4"></div>
          <div class="content-box drop-shadow me-4"></div>
          <div class="content-box drop-shadow me-4"></div>  
          <div class="content-box drop-shadow me-4"></div>
          <div class="content-box drop-shadow me-4"></div>
          <div class="content-box drop-shadow me-4"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- 모달 화면 -->
<div class="modal fade" id="PostModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <div type="button" class="modal-title fs-5 text-primary" id="PostModalLabel">업로드</div>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="d-flex flex-column">
          <!-- 사진 업로드 -->
          <div type="button" class="d-flex flex-column justify-content-center align-items-center">
              <img src="{%static 'images/ex-con.png'%}">
              <div class="fs-5 text-primary">여기를 눌러 업로드</div>
          </div>

          <!-- 태그,시간 -->
          <div>
            <span class="fs-5">태그 :</span>
            <span class="fs-5"> <button class="btn-tag fs-5 notosanskr me-4">일기</button></span>
          </div>
          <div>
            <span class="fs-5">작성일 :</span>
            <span class="fs-5">2022년 7월 21일</span>
          </div>
          <div>
            <span class="fs-5">수정일 :</span>
            <span class="fs-5">2022년 7월 21일</span>
          </div>

          <!-- 수평가로선 -->
          <hr class="mt-5 mb-5"/>

          <!-- 내용 -->
          <div>
            <span class="fs-4 text-bold">첫번째 일기</span>
          </div>
          <div class="mt-3">
            <span class="fs-5">제육볶음 냠냠쩝쩝 맛있당</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
