{% extends "main_view/main.html" %}
<!--  -->
{% load static %}
<link rel="stylesheet" href="{% static 'css/main.css' %}" />
<!--  -->
{% block head %}
<!--  -->
{% endblock%}
<!--  -->
{% block content %}
<div class="pt-5 pb-5 notosanskr w-100">
  <div class="d-flex flex-column align-items-center">
    <!-- 사진 업로드 -->
    {% if post.imgfile.url != '' %}
    <div class="d-flex flex-row justify-content-center">
      <img class="img-fluid content-img" src="{{post.imgfile.url}}" />
    </div>
    {% endif %}

    <!-- 태그,시간 -->
    <div class="pt-5 w-75 justify-content-center">
      <div>
        <div class="row align-items-center">
          {% if post.tag != None %}
          <div class="fs-5 col-auto">태그 :</div>
          <div class="btn-tag fs-5 col-auto">{{post.tag}}</div>
          {% endif %}
        </div>
      </div>
      <div>
        <div class="row align-items-center">
          <div class="fs-5 col-auto">작성일 :</div>
          <div class="fs-5 col-auto">{{post.date}}</div>
        </div>
      </div>
      <div>
        <div class="row align-items-center">
          <div class="fs-5 col-auto">수정일 :</div>
          <div class="fs-5 col-auto">{{post.last_modified}}</div>
        </div>
      </div>
      <div>
        <div class="mt-1 row">
          <div class="col-auto">
            <a href="/post_detail/{{post.pk}}/post_delete">
              <div value="delete" type="button" class="fs-5 text-primary">
                삭제
              </div>
            </a>
          </div>
          <div class="col-auto">
            <a href="/post_detail/{{post.pk}}/post_update">
              <div value="delete" type="button" class="fs-5 text-primary">
                수정
              </div>
            </a>
          </div>
        </div>
      </div>

      <!-- 수평가로선 -->
      <hr class="mt-4 mb-4" />

      <!-- 내용 -->
      <div>
        <div class="row justify-content-start align-items-center">
          <div style="white-space: pre-line" class="fs-5 col-auto">
            <h1>{{post.title}}</h1>
          </div>
        </div>
      </div>
      <div>
        <div class="row justify-content-start align-items-center">
          <div style="white-space: pre-line" class="fs-5 col-auto">
            {{post.content}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
