{% extends "main_view/main.html" %}
<!--  -->
{% load static %}
<link rel="stylesheet" href="{% static 'css/main.css' %}" />
<!--  -->
{% block head %}
<!--  -->
{% endblock%}
<!--  -->
{% block content %}
<div class="pt-5 pb-5 notosanskr w-100">
  <div class="d-flex flex-column">
    <!-- 사진 업로드 -->
    {% if OpenPost.imgfile.url != '' %}
    <div class="d-flex flex-row justify-content-center">
      <img class="img-fluid content-img" src="{{OpenPost.imgfile.url}}" />
    </div>
    {% endif %}

    <!-- 태그,시간 -->
    <div>
      <div class="row justify-content-start align-items-center">
        {% if OpenPost.tag != None %}
        <div class="fs-5 col-auto">태그 :</div>
        <div class="btn-tag fs-5 col-auto">{{OpenPost.tag}}</div>
        {% endif %}
      </div>
    </div>
    <div>
      <div class="row justify-content-start align-items-center">
        <div class="fs-5 col-auto">작성일 :</div>
        <div class="fs-5 col-auto">{{OpenPost.date}}</div>
      </div>
    </div>
    <div>
      <div class="row justify-content-start align-items-center">
        <div class="fs-5 col-auto">수정일 :</div>
        <div class="fs-5 col-auto">{{OpenPost.last_modified}}</div>
      </div>
    </div>

    <!-- 수평가로선 -->
    <hr class="mt-5 mb-5" />

    <!-- 내용 -->
    <div>
      <div class="row justify-content-start align-items-center">
        <div class="fs-5 col-auto"><h1>{{OpenPost.title}}</h1><br></div>
      </div>
    </div>
    <div>
      <div class="row justify-content-start align-items-center">
        <div class="fs-5 col-auto">{{OpenPost.content}}</div>
      </div>
    </div>

    <a class="col content-box drop-shadow overflow-hidden" href="/redirect/{{OpenPost.pk}}">asdf</a>

    

  </div>
</div>
{% endblock %}
