{% extends "main_view/main.html" %}
<!--  -->
{% load static %}
<link rel="stylesheet" href="{% static 'css/main.css' %}" />

<!--  -->
{% block head %}
<!--  -->
{% endblock%}
<!--  -->
{% block content %}
<div class="pt-5 pb-5 notosanskr">
  <div class="d-flex justify-content-center">
    <div class="d-flex flex-column">
      <div class="sub-text text-bold">📝 내 기록</div>
      <div class="sub-text text-regular">
        {{ user.username }}님의 오늘 하루를 기록해보세요.
      </div>
      <div class="pt-3">
        <button class="btn-tag fs-5 me-4">전체</button>
        <button class="btn-tag fs-5 me-4">일기</button>
        <button class="btn-tag fs-5 me-4">메모</button>
      </div>
      <div class="container">
        <div
          class="d-flex flex-wrap row row-cols-auto justify-content-between pt-5 gy-5 content"
        >
          <div
            class="col content-box drop-shadow d-flex justify-content-center align-items-center"
          >
            <button
              class="btn-add drop-shadow d-flex flex-column justify-content-center align-items-center main-text text-secondary fs-3"
              data-bs-toggle="modal"
              data-bs-target="#PostModal"
            >
              ＋
            </button>
          </div>

          {% for post in PostList %}

          <a
            class="col content-box drop-shadow overflow-hidden"
            href="/post_detail/{{post.pk}}"
          >
            <div class="fs-5 text-black">
              <h1>{{post.content|truncatechars:8}}</h1>
            </div>
            <div class="fs-5 text-secondary">
              {{ post.content|truncatechars:10 }}
            </div>
            {% if post.imgfile.url != '' %}
            <img
              src="{{post.imgfile.url}}"
              alt=""
              width="100%"
              class="d-flex img-fulid"
            />
            {% endif %}
          </a>

          {% endfor %}
        </div>
      </div>
      <!--</form>-->
    </div>
  </div>

  <!-- 업로드 모달 화면 -->
  <div
    class="modal fade"
    id="PostModal"
    tabindex="-1"
    aria-labelledby="PostModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <form
          action="{% url 'contents:post_new' %}"
          method="POST"
          enctype="multipart/form-data"
        >
          {% csrf_token %}
          <div class="modal-header">
            <button
              value="upload"
              type="submit"
              class="modal-title fs-5 border-0 bg-white text-primary"
              id="PostModalLabel"
            >
              업로드
            </button>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <div class="d-flex flex-column">
              <!-- 사진 업로드 -->
              <label for="imgfile">
                <div
                  class="d-flex flex-column justify-content-center align-items-center hover-dark"
                >
                  <img src="{%static 'images/upload.png' %}" />
                  <div class="fs-5 text-primary">여기를 눌러 업로드</div>
                </div>
              </label>
              <input
                class="invisible"
                type="file"
                id="imgfile"
                name="imgfile"
                onchange="loadFile(this)"
              />
              <div
                class="image-show d-flex flex-row justify-content-center pb-5"
                id="image-show"
              ></div>

              <!-- 태그,시간 -->

              <div>
                <div class="row justify-content-start align-items-center">
                  <div class="fs-5 col-auto">태그 :</div>
                  <div class="fs-5 col-auto">
                    <select
                      class="form-select"
                      aria-label="Tag-Select"
                      name="tag"
                    >
                      <option selected>태그를 선택해주세요</option>
                      <option value="1">일기</option>
                      <option value="2">메모</option>
                    </select>
                  </div>
                </div>
              </div>
              <div>
                <div class="row justify-content-start align-items-center">
                  <div class="fs-5 col-auto">작성일 :</div>
                  <div class="fs-5 col-auto">{{now}}</div>
                </div>
              </div>

              <!-- 수평가로선 -->
              <hr class="mt-5 mb-5" />

              <!-- 내용 -->
              <div>
                <span>
                  <input
                    class="fs-4 text-bold w-100"
                    name="title"
                    placeholder="제목"
                  />
                </span>
              </div>
              <div class="mt-3">
                <span>
                  <textarea
                    rows="10"
                    style="resize: none"
                    class="w-100"
                    name="body"
                    placeholder="내용"
                  ></textarea>
                </span>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  {% endblock %}
</div>
