{% extends "main_view/main.html" %}
<!--  -->
{% load static %}
<link rel="stylesheet" href="{% static 'css/main.css' %}" />
<!--  -->
{% block head %}
<!--  -->
{% endblock%}
<!--  -->
{% block content %}
<div class="modal-dialog modal-lg">
    <div class="modal-body">
      <div class="d-flex flex-column">
        <!-- 사진 업로드 -->
        <div type="button" class="d-flex flex-column justify-content-center align-items-center">
          <img src="{{OpenPost.imgfile.url}}" width="800 px" height="auto">
        </div>
  
            <!-- 태그,시간 -->
        <div>
          <span class="fs-5">태그 :</span>
          <span class="fs-5"> <button class="btn-tag fs-5 notosanskr me-4">일기</button></span>
        </div>
        <div>
          <span class="fs-5">작성일 :</span>
          <span class="fs-5">{{OpenPost.date}}</span>
        </div>
        <div>
          <span class="fs-5">수정일 :</span>
          <span class="fs-5">{{OpenPost.last_modified}}</span>
        </div>
  
            <!-- 수평가로선 -->
        <hr class="mt-5 mb-5"/>
        <form
        action="{% url 'contents:update_new' %}"
        method="POST"
        enctype="multipart/form-data"
      >
        {% csrf_token %}
            <!-- 내용 -->
            <div>
                <span>
                  <input
                    class="fs-4 text-bold w-100"
                    name="title"
                    value={{OpenPost.title}}
                  />
                </span>
              </div>
              <div class="mt-3">
                <span>
                  <textarea
                    rows="10"
                    style="resize: none"
                    class="w-100"
                    name="body"
                  >
                    <pre>
                        {{OpenPost.content}}
                    </pre>
                </textarea>
                </span>
              </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}